<ion-header>
  <ion-navbar>
    <ion-title class="header">
      Arduino Steuerung
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="body" padding>
    <ion-card *ngFor="let resource of restResources" class="card">
      <ion-card-content *ngIf="resource.isDigitalOutput()">
        <ion-item class="item">
          <ion-label class="label">{{resource.label}} ({{resource.on}}):</ion-label>
          <ion-toggle [(ngModel)]="resource.on" color="danger"></ion-toggle>
        </ion-item>
      </ion-card-content>

      <ion-card-content *ngIf="resource.isAnalogOutput()">
        <ion-item>
          <ion-label>{{resource.label}} ({{resource.value}}):</ion-label>
          <ion-range min="resource.min" max="resource.max" [(ngModel)]="resource.value" color="danger">
            <ion-label range-left>{{resource.min}}</ion-label>
            <ion-label range-right>{{resource.max}}</ion-label>
          </ion-range>
        </ion-item>
      </ion-card-content>

      <!--<ion-card-content>
        <ion-item>
          <ion-input [(ngModel)]="text" placeholder="Text Eingeben..."></ion-input>
        </ion-item>
      </ion-card-content>-->

      <ion-card-content *ngIf="resource.isDigitalInput()">
        <ion-item>
          <ion-label>{{resource.label}} ({{resource.on}}):</ion-label>
          <ion-label id="state">{{resource.on}}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  <!--<button (click)="showName()" id="submitButton" ion-button>Daten Senden</button>    -->
</ion-content>
