
.header{
    background-color: rgb(250,250,250);
    height: 50px;
    border-bottom: 1px solid black;
    margin-top: 0px;
}

.body{
    background-color: rgb(250,250,250);
    margin-top: 25px;
    overflow-y: none; //schaltet scrollen aus und verbirgt Scrollbar
}

.card {
    background-color: rgb(80,80,80);
    margin: 10px 10px 20px 11px;
}

.item {
    background-color: rgb(80,80,80);
}

.label{
    color: rgb(240,240,240);
}

.toggle{
    float:left;
}

.input{
    color: #f53d3d;
}

// Placeholder Farbe (Google Chrome)
*::-webkit-input-placeholder {
  color: rgb(200,200,200) !important;
}

#state{
    text-align: right;
}

#submitButton{
    margin: 10px 10px 20px 11px;
}
